
<h1>Feed Posts</h1>
<div class="container my-5">
  <div class="row">

  <% if !@posts.nil? %>
  <% @posts.each do |post| %>
        <div class="col-md-4">
          <h2><%= post.title %></h2>
          <%= image_tag post.image_url(:medium) %>
          <p><%= link_to(post.user.name, user_path(post.user)) %></p>
          <p><%= "Body: #{post.body}" %></p>
          <p><%= "Like: #{post.likes.count}"  %>  </p>
          <%= link_to "Show post", user_post_path(post.user, post) %>
        </div>
  <% end %>
  <% else %>
  <%= "Not feed post yet" %>
  <% end %>
  </div>
</div>

