<h1>User info</h1>
<%= link_to "Edit", edit_user_path(@user) %>
<br>
Email: <%= @user.email %>
<br>
Name: <%= @user.name %>
<br>
Bio: <%= @user.bio %>
<br>
<%= link_to "Posts", user_posts_path(@user) %>