<div class="container center">

<h1>  <%= @post.title %> </h1>

<%= image_tag @post.image_url(:large) %>
  <p><%= @post.body %></p>
  <p>    <%= "Number of likes: #{@post.likes.count}" %>
    <button type="button" class="btn btn-outline-secondary">
  <% if Like.find_by(user: current_user, post: @post).present? %>
  <%= link_to "Unlike", user_post_like_path(@user, @post), method: :delete %>
  <% else %>
<%= link_to "Like", user_post_likes_path(@user, @post), method: :post %>
  <% end %>
  </button>
    <% if current_user == @user %>
      <% if policy(@post).update? %>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "Edit", edit_user_post_path(current_user, @post) %>
        </button>
        <button type="button" class="btn btn-outline-danger">
          <%= link_to "Delete post", user_post_path(current_user, @post), method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </button></p>
      <% end %>
    <% end %>

<%= render 'comments/index' %>
<%= render 'comments/form', user: @user, post: @post, comment: @comment %>

</div>