%header
%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    - if current_user.present?
      = link_to "Instagram", user_path(current_user), id: "logo"
    - else
      = link_to "Instagram", new_user_session_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= render "search/search"
        %li= link_to "Users list", users_path
        - if current_user.present?
          %li= link_to "New post", new_user_post_path(current_user)
          %li= link_to "Edit Profile", edit_user_path(current_user)
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign_in", new_user_session_path


