%header
%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "User list", users_path
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          %li= link_to "Profile " + current_user.name, user_path(current_user), class: "btn btn-lg btn-primary"
          %li= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-lg btn-primary"
          %li= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primary"
        - else
          %li= link_to "Sign_in", new_user_session_path, class: "btn btn-lg btn-primary"

